__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
.git/
.gitignore
*.md
tests/
.pytest_cache/
.coverage
htmlcov/
*.log
node_modules/
.cache/
dist/
build/
.DS_Store
*.swp
*.swo
.vscode/
.idea/
complaints_backend/venv/
complaints_backend/src/database/app.db
complaints_frontend/node_modules/
complaints_frontend/dist/
.pythonlibs/
.local/
